<h1>Vista Global al dia: <%= @hoy %> </h1>
<h3>Total de tareas que debio realizar: <%= @tareasVencidas %>  </h3>
<table  class="table table-bordered" >
    <tr>
    
        <th>Nombre</th>
        <th>Email</th>
        <th>Estado General</th>
        <th>Tareas Realizadas que vencieron</th>
        <th>Tareas Realizadas en total </th>
    </tr>
    <% @alumnos.each do | alumno | %>
    <tr>
         <td>
                <%= alumno.name %>
        <%= alumno.lastname%>
            </td>
            <td>
                <%= alumno.email%>
            </td>
            <% if usuarioCumplio(alumno) %>
                <td>
                    Estimo todas las tareas vencidas
                </td>
            <% else %>   
                <td>
                    Le quedaron tareas sin estimar
                </td>
            <% end %>   
            <td>
            <%= tareas_realizadasQueVencieron(alumno) %>   
            </td>
            <td>
            <%= UserTask.count(:user_id => alumno.id) %>   
            </td>



    </tr>
    <% end %>

</table>
