<h1>Crear Tarea</h1>
<% form_for(@task, '/tasks/create') do |f| %> 
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :limit_date %>
  <%= f.text_field :limit_date %>

  <br/>
  <%= f.submit "Crear", :class => "btn btn-primary" %>
<% end %>
