<h1>Lista de Tareas</h1>
<table class="table table-bordered">
    <tr>
        <th>ID Tarea</th>
        <th>Titulo</th>
        <th>Fecha Limite</th>
        <th>Tiempo Estimado</th>
        <th>Tiempo Real</th>
        <th>Balance</th>
    </tr>
    <% @user_tasks.each do | user_task | %>
        <tr>
            <td>
                <%= user_task.task_id %>
            </td>
            <td>
                <%= user_task.task.title %>
            </td>
            <td>
                <%= user_task.task.limit_date%>
            </td>
            <% if not (user_task.estimated_time == nil) %>
                <td>
                    <%= user_task.estimated_time%>
                </td>
            <% else %>
                <td>
                    ---
                </td>
            <% end %>
            <% if not (user_task.real_time == 0) %>
                <td>
                    <%= user_task.real_time%>
                </td>
            <% else %>
                    <td>
                    <%= link_to 'Registrar Tiempo Real', url_for(:user_tasks, :edit, :usertask_id => user_task.id), :class => "btn btn-primary" %>
                    </td>
                <% end %>  
            <% if not (user_task.real_time == 0) %>
                <td>
                    <%= user_task.estimated_time - user_task.real_time%>
                </td>
            <% else %>
                <td>
                    ---
                </td>
            <% end %>
        
        </tr>
    <% end %>

</table>
